.single_card_report_distinct {
  background-color: #ffb2eb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 1s;
  position: relative;
  width: 175px;
  height: 60px;
  overflow: hidden;
}

.single_card_report_distinct h2 {
  margin-bottom: 10px;
  color: #212529;
}

.single_card_report_distinct p {
  font-size: 20px;
  color: #212529;
  position: relative;
  top: 15px;
  font-weight: bold;
}

.single_card_report_distinct:hover {
  transform: scale(1.05);
}

.single_card_report_distinct_expired {
  background-color: #ffb2eb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 1s;
  position: relative;
  width: 175px;
  height: 60px;
  overflow: hidden;
}

.single_card_report_distinct_expired h2 {
  margin-bottom: 10px;
  color: #212529;
}

.single_card_report_distinct_expired p {
  font-size: 20px;
  color: #212529;
  position: relative;
  top: 15px;
  font-weight: bold;
}

.single_card_report_distinct_expired:hover {
  transform: scale(1.05);
}
