header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
  align-items: center;
  background-color: #000000da;
}

header h2 {
  margin-right: auto;
  color: #f8f9fa;
}

header a {
  font-size: 20px;
  color: #dee2e6;
}

.israel_time {
  font-size: 20px;
  margin-left: 80px;
}

.active {
  color: #f8f9fa;
}

.logo {
  position: absolute;
  left: 80px;
  width: 40px;
  height: 40px;
  transition: transform 1s ease;
}

.logo:hover {
  transform: rotate(360deg);
}
